@font-face { font-family: gurmukhi_thick; src: url('../fonts/gurmukhi_thick.ttf'); }
@font-face { font-family: gurmukhi_heavy; src: url('../fonts/gurmukhi_heavy.ttf'); }
@font-face { font-family: gurmukhi_light; src: url('../fonts/gurmukhi_light.ttf'); }
@font-face { font-family: gurmukhi; src: url('../fonts/GurbaniWebThickTrue.ttf'); }

@keyframes SplashIn {
  from { transform: scale(3); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

#baaniWrapper {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  transition: font-size 0.05s, background-color 0.5s;
}

@media (max-width: 700px) {
  .toolbar-title {
    display: none !important;
  }
}
@media (max-width: 500px) {
  .toolbar .raised-button {
    word-wrap: nowrap !important;
    overflow: hidden !important;
    height: 35px !important;
  }
}

.toolbar {
  padding: 0 40px !important;
  height: auto !important;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start; 
}

.greeting {
  animation: SplashIn 0.25s ease-in;
  font-size: 5em !important;
  text-align: center;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.center-input input { text-align: center; }

.gurbani-input input, .gurbani-text, .gurbani-text code { font-size: 2em; }

.gurbani-text div.english { font-family: ''; }

.gurbani-text p, .gurbani-input input, .gurbani-text, .gurbani-text code, .gurbani-text h1, .gurbani-text h2, .gurbani-text h3, .gurbani-text h4, .gurbani-text h5, .gurbani-text h6 {
  font-family: gurmukhi_heavy;
  line-height: 1em;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}

.gurbani-text h1 { font-size: 1.3em; }
.gurbani-text h2 { font-size: 1.25em; }
.gurbani-text h3 { font-size: 1.2em; }
.gurbani-text h4 { font-size: 1.15em; }
.gurbani-text h5 { font-size: 1.1em; }
.gurbani-text h6 { font-size: 1em; }

.gurbani-text p, .gurbani-text pre {
  display: table;
  padding: 2px;
  border-radius: 5px;
  margin: 2px auto;
  font-size: 0.8em;
}
.gurbani-text pre {
  color: #1E43D4;
  padding: 10px 20vw 0px 20vw;
}
.gurbani-text p:hover,.hovered {
  background-color: #efefef;
  color: #c7254e;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: inherit !important;
}
.gurbani-text.raag-ang > div:nth-child(1) {
  font-size: 2em !important;
  display: block !important;
  text-align: center !important;
}
.gurbani-text.raag-ang > div:nth-child(2) {
  display: block !important;
  text-align: center !important;
  font-size: 1.25em !important;
}
.gurbani-text.raag-ang {
}
