@font-face { font-family: gurmukhi_thick; src: url('../fonts/gurmukhi_thick.ttf'); }
@font-face { font-family: gurmukhi_heavy; src: url('../fonts/gurmukhi_heavy.ttf'); }
@font-face { font-family: gurmukhi_light; src: url('../fonts/gurmukhi_light.ttf'); }

@keyframes SplashIn {
  from { transform: scale(3); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
.greeting {
  animation: SplashIn 0.25s ease-in;
  font-size: 350%;
  padding: 20vh 10vw;
}
.gurbani-text {
  font-size: 130%;
  padding-top: 20px;
  box-shadow: 21px 21px 32px -23px black inset;
  overflow: auto;
  height: 100vh;
}
.gurbani-text * {
  font-family: gurmukhi_heavy;
  transition: all 0.25s;
}
.dark-mode {
  background-color: black;
  color: white;  
}
#menuWrapper {
  padding: 0 0 0 5px; 
}
#fontChanger input[type=range] {
  padding: 10px;
  width: 100%;
}
#baaniPicker select {
  width: 100%;
}
#textWrapper {
  padding: 0 0 0 5px;
}
#nightModer:hover * {
  background-color: black;
  color: #FFF;
}
